.form {
  color: #7c4029;
  display: flex;
  flex-direction: column;

  &__item{
    width: 400px;
    border: none;
    outline: none;
    margin-bottom: 40px;

    background: transparent;

    border-bottom: 1px solid #7c4029;

    transition: font-size 0.2s ease-in;

    &:focus {
      font-size: 20px;
    }
  }

  &__submit {
    border: 2px solid transparent;

    background: #7c4029;
    padding: 20px;

    color: #fff;

    text-transform: uppercase;

    transition:
      border 0.3s ease-in,
      color 0.3s ease-in,
      background 0.3s ease-in;

    &:hover {
      background: transparent;
      border: 2px solid #7c4029;

      color: #7c4029;

      cursor: pointer;
    }
  }
}