.product-list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  &__item {
    position: relative;
    list-style: none;
    background-color: #fff;
    box-shadow: 2px 2px 8px #000;
    margin: 20px;
    border-radius: 20px;

    cursor: pointer;

    transition: transform 0.2s ease-in;

    padding: 20px;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.item {
  &__photo {
    position: relative;
    left: 50%;

    transform: translateX(-50%);
  }

  &__title {
    text-align: center;
  }

  &__like {
    width: 20px;
    height: 20px;
    color: #fff;

    background: #d8dae0;
    padding: 10px;

    border-radius: 50%;

    transition: all 0.3s ease-in;
  
  
    &:hover {
      background: #fc4e3d;
    }
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  &__description {
    max-width: 100%;
    text-align: justify;
  }
}