.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.products {
  &__show-button {
    outline: none;
    border: 2px solid transparent;
    height: 50px;
    width: 150px;
    color: #ffff;
    cursor: pointer;
    background: linear-gradient(#2367db,#236ada);
    box-shadow: 1px 1px 5px #2367db;

    margin: 50px 0px 0px 20px;

    transition: all 0.2s ease-in;

    &:hover {
      border: 2px solid #2367db;
      background: transparent;
      color: #2367db;
    }

  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
